header{
    background-color: #39546c;
    font-size: 0;
}
.logo img{
   height: 5rem;
   vertical-align: middle; 
}
.logo, .menu{
    display: inline-block;
}
.logo{
    width: 40%;
    padding: 1%;
}
.logo span{
    font-size:2rem;
    vertical-align: middle;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.menu{
    width: 60%;
    text-align: right;
    font-size:1.5rem;
    vertical-align: middle;
    padding-right: 3%;
}
.span1{
    color: #fe9738;
}
.span2{
    color: #fff;
}
.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active{
    color: #fe9738;
    padding: 1% 2%;
    font-weight: 600;
}
.info{
    background-image: url('../img/bg1.jpg');
    height: 729px;
    background-repeat: no-repeat;
    background-size: cover;
}
.infoIn{
    width: 70%;
    margin: 0 auto;
    color: #fff;
    padding-top:10%;
}
#cim{
    font-size:3rem;
    font-weight: bold;
}
.infoIn p{
    font-size: 1.2rem;
    font-weight: 400;
}
.myBtn{
    padding: 1.3% 3%;
    background-color: #39546c;
    display: inline-block;
    margin-top: 3%;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0.2rem;
}
.myBtn:hover{
    background-color: #fe9738;
}
.players{
    width: 90%;
    margin:0 auto;
    margin-top: 3%;
}
.players h2{
    font-size:3rem;
    text-align: center;
    color: #39546c;
    letter-spacing: 0.3rem;
    padding: 1%;
}

.player{
    width: 30%;
    display: inline-block;
    margin: 0 1.5%;
    vertical-align: top;
}
.player img{
    width: 100%;
}
.playerDeatils{
    font-size:0;
}
.playerName{
    width: 80%;
    display: inline-block;
    font-size: 1.5rem;
}
.playerNumber{
    width: 20%;
    display: inline-block;
    font-size:5rem;
}