@import url('https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap');

body{
    background-color: blue;
    font-family: "Ruge Boogie", cursive;
}

.osztaly{
    background-color: rgb(176, 135, 135);
}
.osztaly{
    background-color: green;
}