body{
    /*background-color: black;
    background-image: url('./img/car2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;*/
}
div{
    text-align: right;
    cursor:cell;
}